.strumming-pattern-container {
    display: inline-block;
    margin: auto;
}

.strumming-pattern {
    display: flex;
    text-align: center;
}

.custom-strum-container {
    width: 1em;
    padding: 1em;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.2);
}

.lock-icon-container {
    cursor: pointer;
    padding: .2em 0;
}

.strum-container {
    cursor: pointer;
}