.strumming-pattern-container {
    display: inline-block;
    margin: auto;
}

.strumming-pattern {
    display: flex;
    text-align: center;
}

.strum-container {
    padding: 1em;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.2);
}
