.saved-strum-pattern-list-element-container {
    display: inline-block;
    margin: auto;
}

.saved-strum-pattern-list-element-container > .flex-container {
    display: flex;
}

.saved-strum-pattern-list-element-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.saved-strum-pattern-list-element-container button {
    cursor: pointer;
    padding: 1px 6px;
    margin: 0;
    box-shadow: none;
}

.saved-strum-pattern-list-element-container button:active {
    box-shadow: none;
}